.debt-btn {
  padding: 4px 20px;
  font-family: "Cairo";
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.debt-btn:hover {
  background-color: #45a049;
}

.debt-btn:active {
  background-color: #3e8e41;
}

.debt-input {
  width: 30%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* margin-top: 6px;
  margin-bottom: 16px; */
}
